ul {
    li {
        a {
            text-decoration: none;
            color: gray;
        }
    }
}

.email-address:hover{
    color:rgb(196, 196, 196);
}

.web-link:hover {
    color:rgb(196, 196, 196);
}